{% extends "login_base.html" %}
{% block js %} 
<script type="text/javascript">
  var step = 1;
  var userNickname = '';
    async function authStep1() {
      console.log('auth/step1');
      var nickname = document.getElementById('loginControlInputNick').value;
      
      var password = document.getElementById('loginControlPassword').value;
      // отправляет запрос и получаем ответ
      const response = await fetch("/api/login/step1", {
        method: "POST",
        headers: { "Accept": "application/json" },
        body: JSON.stringify({
          nickname: nickname,
          hash: password
        })
      });
      // если запрос прошел нормально
      if (response.ok === true) {
        // получаем данные
        userNickname = nickname;
        return true;
      }
      else return false;
    }
    async function authStep2() {
      var code = document.getElementById('loginControlCode').value;
      // отправляет запрос и получаем ответ
      const response = await fetch("/api/login/step2", {
        method: "POST",
        headers: { "Accept": "application/json" },
        body: JSON.stringify({
          nickname: userNickname,
          code: code
        })
      });
      // если запрос прошел нормально
      if (response.ok === true) {
        // получаем данные
        var responseJson = await response.json();
        alert('Successful!');
        document.cookie += `nickname=${userNickname}; token=${responseJson['token']}`;
        window.location.replace('/');
      }
      else alert('error!');
    }
    async function auth() {
      if (step == 1) {
        var result = await authStep1();
        if (result) {
          step = 2;
          var div = document.getElementById('div-email-code');
          div.classList.remove('d-none');
        }
        else alert("Error!");
      }
      else {
        await authStep2();
      }
    }

</script>
{% endblock js %} 
{% block content %}
<h3>Форма входа</h3>
<div class="mb-3">
    <label for="loginControlInputNick" class="form-label">Никнейм</label>
    <input type="email" class="form-control" id="loginControlInputNick" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="loginControlPassword" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="loginControlPassword">
  </div>
  <div class="mb-3 d-none" id="div-email-code">
    <label for="loginControlCode" class="form-label">Код подтверждения из эл.почты</label>
    <input type="text" class="form-control" id="loginControlCode">
  </div>
  <div class="mb-3">
    <button class="btn btn-primary mb-3" onclick="auth()">Войти</button>
    
  <a href="/register" class="link-dark">Зарегистрироваться</a>
  </div> 
  
{% endblock content %}
