{% extends "base.html" %}
{% load static %}

{% block css_adding %} 
  <link rel = "stylesheet" href = "{% static 'home/css/home_page.css' %}">
  <link rel = "stylesheet" href = "{% static 'home/css/home_base.css' %}">
{% endblock css_adding %} 


{% block site_head %}
<script type="text/JavaScript" src = "{% static 'home/js/home_base.js' %}"></script>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="music_link" class="nav-link active" aria-current="page" href="/mypage">Музыка</a>
        </li>
        <li class="nav-item">
          <a id="subscriptions_link" class="nav-link active" aria-current="page" href="/subscriptions">Подписки</a>
        </li>
        <li class="nav-item">
          <a  id="settings_link" class="nav-link active" aria-current="page" href="/settings">Настройки</a>
        </li>
        {% block userpage %}
        {% endblock userpage %}
        <li class="nav-item">
          <a class="nav-link active link"  onclick="exit_account()">Выйти</a>
        </li>
    </ul>
    <div class="container-search">
      {% block music_search %}
      {% endblock music_search %}
      {% block subscriptions_search %}
      {% endblock subscriptions_search %}
    </div>
</div>
{% endblock site_head %}