{% extends "base.html" %}
{% load static %}

{% block css_adding %} 
  <link rel = "stylesheet" href = "{% static 'home/css/home_page.css' %}">
  <link rel = "stylesheet" href = "{% static 'home/css/home_base.css' %}">
{% endblock css_adding %} 


{% block site_head %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mypage">Моя страница</a>
        </li>
        <!-- <a class="nav-link">|</a>
        <li class="nav-item">
            <a class="nav-link active" href="#">Рекомендации</a>
        </li> -->
        <!-- <a class="nav-link">|</a>
        <li class="nav-item">
            <a class="nav-link active" href="#" onclick="import_tracks()">Импортировать</a>
        </li> -->
        {% block userpage %}
        {% endblock userpage %}
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Искать треки" aria-label="search">
      <button class="btn btn-outline-success" type="submit">Искать</button>
    </form>
</div>
{% endblock site_head %}