{% extends "home/user_page.html" %}

{% load static %}

{% block css_adding %} 
  <link rel = "stylesheet" href = "{% static 'home/css/settings_page.css' %}">
  <link rel = "stylesheet" href = "{% static 'home/css/home_base.css' %}">
{% endblock css_adding %} 


{% block js_adding %}
<script type="text/JavaScript" src = "{% static 'home/js/settings_page.js' %}"></script>
{% endblock js_adding %}

{% block content %}
<h2>Настройки</h2>
<div class="container">
    <div>
        <label for="lastfm">Никнейм в Last.FM:</label>
        <form id="lastFmNickname">
            <input type="text" class = "form-control" id="lastfm" name="lastfm" value={{user.lastfmLogin}} />
        </form>
    </div>
    <div class="div_cb">
        <label for="secondFactor">Двухфакторная аутентификация:</label>
        <label class = "auth">
            {% if user.secondFactor%}
            <input id = "CB" type="checkbox" checked>
            {% else %}
            <input id = "CB" type="checkbox">
            {% endif %}
            <span>✔</span>
        </label>
    </div>
    <input type="button" class="btn-primary" onclick="set_settings('{{user.nickname}}')" value="Сохранить"/>
</div>
<script type="text/JavaScript">setup_settings_page();</script>
{% endblock content %}