{% extends "home/home_base.html" %}

{% block title %}
{{user.nickname}} | Skatert
{% endblock title %}

{% load static %}
{% block js_adding %}
<script type="text/JavaScript" src = "{% static 'home/js/user_page.js' %}"></script>
{% endblock js_adding %}



{% block exit_account %}
<li class="nav-item">
    <a class="nav-link active link"  href="#" onclick="exit_account()">Выход</a>
</li>
{% endblock exit_account %}

{% block content %}
<h3>Пользователь {{user.nickname}}</h3>
{% endblock content %}