{% extends "home/home_base.html" %}

{% block title %}
{{user.nickname}} | Skatert
{% endblock title %}

{% load static %}
{% block js_adding %}
<script type="text/JavaScript" src = "{% static 'home/js/user_page.js' %}"></script>

{% endblock js_adding %}



{% block userpage %}
<a class="nav-link">|</a>
<li class="nav-item">
    <a class="nav-link active">Рекомендации</a>
</li>
<a class="nav-link">|</a>
<li class="nav-item">
    <a class="nav-link active" onclick="import_tracks('{{user.nickname}}')">Импортировать</a>
</li>
<a class="nav-link">|</a>
<li class="nav-item">
    <a class="nav-link active link"  onclick="exit_account()">Выход</a>
</li>
{% endblock userpage %}

{% block content %}
<h3>Пользователь {{user.nickname}}</h3>
<ul id = "mylist"></ul>
{% endblock content %}