[Unit]
Description=Skatert server
                      
[Service]
ExecStart=/root/skatert/skatert.sh
                      
[Install]
WantedBy=multi-user.target
