{% extends 'login/login_base.html' %}
{% load static %}

{% block title %}
Выбор жанров
{% endblock title %}

{% block css_adding %} 
  <link rel = "stylesheet" href = "{% static 'login/css/genres_page.css' %}">
  <link rel = "stylesheet" href = "{% static 'login/css/login_base.css' %}">
{% endblock css_adding %} 


{% block js_adding %}
<script type="text/JavaScript" src = "{% static 'login/js/genres_page.js' %}"></script>
{% endblock js_adding %}

{% block logincontent %}

<h2 id="choice_header" class="d-none">Выбери способ установки предпочтений:</h2>

<div id="type_choosing" class = "d-none">
  <button class="buttons_elem btn-primary" onclick="load_lastfm()">Автоматически</button> 
  <button class="buttons_elem btn-primary" onclick="load_genres()">Вручную</button>   
</div>

<h2 id="genres_header">Выбери интересующие жанры:</h2>
<div id="genres" class="row" >
    <div class="column">
      <label class = "genre hiphop"><input class="genres_checkbox" id = "CB_hiphop" type="checkbox" ><span>ХИП-ХОП</span></label>
      <label class = "genre rap"><input class="genres_checkbox" id = "CB_rap" type="checkbox"><span>РЭП</span></label>
      <label class = "genre edm"><input class="genres_checkbox" id = "CB_edm" type="checkbox" ><span>EDM</span></label>
      <label class = "genre rock"><input class="genres_checkbox" id = "CB_rock" type="checkbox" ><span>РОК</span></label>
    </div>
    <div class="column">
      <label class = "genre classical"><input class="genres_checkbox" id = "CB_class" type="checkbox" ><span>КЛАССИКА</span></label>
      <label class = "genre rnbsoul"><input class="genres_checkbox" id = "CB_rnb" type="checkbox" ><span>R&BиСоул</span></label>
      <label class = "genre pop"><input class="genres_checkbox" id = "CB_pop" type="checkbox" ><span>ПОП</span></label>
      <label class = "genre alternative"><input class="genres_checkbox" id = "CB_alt"  type="checkbox" ><span>АЛЬТ</span></label>
      
    </div>
</div> 

<h2 id="lastfm_header">Импорт жанров из Last.FM</h2>
<div id="lastfm_container" class="container">
    <div>
        <label for="lastfm">Никнейм в Last.FM:</label>
        <form id="lastFmNickname">
            <input type="text" class = "form-control" id="lastfm_nickname"/>
        </form>
        <button class="btn-primary" id="button_find" onclick="find_user()">Найти</button>  
    </div>
    <div class="d-none" id = "lastfm_pfp">
      
    </div>
</div>


<div id="action_choosing">
  <button class="btn-primary" id="button_back" onclick="load_choice()">Назад</button>
  <div id="loader" class="d-none"><img src="/static/login/img/loading.gif"></div>    
  <button class="btn-primary d-none" id="button_next" onclick="apply_preferences('{{user.nickname}}')">Далее</button>  
</div>

<div class="mb-3 d-none" id="user_not_found">
  <p style="color:#FF8E00; text-align: right;">Пользователь Last.FM не найден!</p>
</div>


<script type="text/JavaScript">load_choice()</script>
<script type="text/JavaScript">set_listeners()</script>
{% endblock logincontent %}