{% extends "login/login_base.html" %}
{% load static %}

{% block css_adding %} 
  <link rel = "stylesheet" href = "{% static 'login/css/login_page.css' %}">
  <link rel = "stylesheet" href = "{% static 'login/css/login_base.css' %}">
{% endblock css_adding %} 


{% block js_adding %}
<script type="text/JavaScript" src = "{% static 'login/js/login_page.js' %}"></script>
{% endblock js_adding %}


{% block logincontent %}
<form id="username">
  <div class="mb-3">
      <input type="email" class="form-control" id="loginControlInputNick" placeholder="ПОЛЬЗОВАТЕЛЬ">
  </div>
</form>
<form id="password">
  <div class="mb-3">
    <input type="password" class="form-control" id="loginControlPassword" placeholder="ПАРОЛЬ">
  </div>
</form>
<form id="email_code">
  <div class="mb-3 d-none" id="div-email-code">
    <label for="loginControlCode" class="form-label-email">ВВЕДИТЕ КОД ПОДТВЕРЖДЕНИЯ:</label>
    <input type="text" class="form-control" id="loginControlCode">
  </div>
</form>
<div class="mb-3 d-none" id="unknown_user">
  <p style="color: #FF8E00; text-align: right;">Such user doesn't exist<br>Check name correctness or register</p>
</div>
<div class="mb-3 d-none" id="empty_field">
  <p style="color: #FF8E00; text-align: right;">Fill all fields, please</p>
</div>
<div class="mb-3 d-none" id="incorrect_pass">
  <p style="color: #FF8E00; text-align: right;">Incorrect password</p>
</div>
<div class="mb-3 d-none" id="incorrect_code">
  <p style="color: #FF8E00; text-align: right;">Incorrect code</p>
</div>
<div class="buttons"> 
  <a href="/register" class="buttons_elem link-dark aleft">Зарегистрироваться</a>
  <a href="/register" class="buttons_elem link-dark aright">Забыли пароль?</a>
</div>
<div>
  <button class="buttons_elem btn-primary" onclick="auth()">Войти</button>  
</div>
  
{% endblock logincontent %}
