{% extends "login/login_base.html" %}

{% block title %}
Регистрация
{% endblock title %}

{% load static %}

{% block css_adding %} 
  <link rel = "stylesheet" href = "{% static 'login/css/login_page.css' %}">
  <link rel = "stylesheet" href = "{% static 'login/css/login_base.css' %}">
{% endblock css_adding %} 

{% block js_adding %}
<script type="text/JavaScript" src = "{% static 'login/js/register_page.js' %}"></script>
{% endblock js_adding %}



{% block logincontent %}
<form id="nickname">
  <div class="mb-3">
      <input type="text" class="form-control" id="loginControlInputNick" placeholder="ПОЛЬЗОВАТЕЛЬ">
  </div>
</form>
<form id="lastfm_nickname">
  <div class="mb-3">
      <input type="text" class="form-control" id="loginControlInputLastfmNick" placeholder="НИКНЕЙМ В LASTFM">
  </div>
</form>
<form id="email">
  <div class="mb-3">
      <input type="email" class="form-control" id="loginControlInputEmail" placeholder="АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ">
  </div>
</form>
<form id="password">
  <div class="mb-3">
    <input type="password" class="form-control" id="loginControlInputPassword" placeholder="НОВЫЙ ПАРОЛЬ">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="loginControlInputPasswordConfirm" placeholder="ПОВТОРИТЕ ПАРОЛЬ">
  </div>
</form>

<div class="mb-3 d-none" id="nickname_duplicate">
  <p style="color:#FF8E00; text-align: right;">Пользователь с таким ником уже существует!</p>
</div>
<div class="mb-3 d-none" id="pass_mismatch">
  <p style="color: #FF8E00; text-align: right;">Пароли не совпадают!</p>
</div>
<div class="mb-3 d-none" id="incorrect_email">
  <p style="color:#FF8E00; text-align: right;">E-mail введен некорректно!</p>
</div>
<div class="mb-3 d-none" id="empty_field">
  <p style="color: #FF8E00; text-align: right;">Все поля должны быть заполнены!</p>
</div>
<div class="mb-3">
  <button class="btn btn-primary mb-3" name="registerButton" onclick="register()">Далее</button>    
</div> 
{% endblock logincontent %}
