.buttons{
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    flex-basis: content;

    margin: 0.5em;
}

.link-dark:link, .link-dark:visited, .link-dark:hover, .link-dark:active {

    color : #FF8E00;
    text-decoration: none;
    font-weight: bold;

}

.aright{
    display: inline-block;
    text-align: right;
    width: 80%; 
}

.aleft{
    display: inline-block;
    text-align: left;
    width: 80%; 
}
