h1 {
    flex:1;
    margin-left: 35%;
    margin-top: 5%;
    position: relative;
    width: 30%;
    height: 70px;
    
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 0.1em;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px  #FF8E00;
    text-shadow: 0px 0px 35px #FF8E00;
}

.container {
    margin-top: 5%;
    text-align: center;
    width: 700px;
}

.content{
    display: flex;
    flex-direction:column;
    text-align: center;
}


.btn-primary{

    box-sizing: border-box;

    position: relative;
    width: 160px;
    height: 40px;

    background: #D5D7DB;
    border: 3px solid #000000;
    border-radius: 20px;

    font-family: 'Consolas';
    font-weight: 700;
    font-size: 28px;
    line-height: 4px;
    text-align: center;
    letter-spacing: 0.1em;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px black;
    
}




.btn-primary:hover, .btn-primary:focus{
    box-shadow: inset 0px 0px 5px rgba(240, 178, 101, 0.4);
    filter: drop-shadow(0px 0px 35px #FF8E00);
    background: rgba(255, 142, 0, 0.6);
    border: 3px solid #FFFFFF;
    border-radius: 40px;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px white;

}